<h1>Welcome</h1>

<% if logged_in? %>
  <p>Signed in as <%= current_user.email %></p>

  <% if current_user.totp_enabled? %>
    <p>Two-Factor Authentication: Enabled</p>
    <%= button_to "Disable 2FA", two_factor_disable_path, method: :delete, data: { turbo_confirm: "Are you sure you want to disable 2FA?" } %>
  <% else %>
    <p>Two-Factor Authentication: Disabled</p>
    <%= link_to "Enable 2FA", two_factor_setup_path %>
  <% end %>

  <%= button_to "Logout", logout_path, method: :delete %>
<% else %>
  <p>
    <%= link_to "Login", login_path %> or
    <%= link_to "Sign up", signup_path %>
  </p>
<% end %>
